@charset "utf-8";
body{
    color: #191919;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 25px;
    background-image: url(../images/bokeh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    width: 768px;
    height: auto;
    margin: auto;
    background-color: white;
}
header {
    width: 768px;
    height: 250px;
    background-image: url("DW18-Project02/header.jpg");
}
nav {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    width: 760px;
    height: 50px;
}
nav li {
    display: inline;
    list-style-type: none;
    float: left;
    margin: 0px 40px 0px 0px;
    width: 60px;
	font-family: 'Permanent Marker', cursive;
}
nav ul {
    margin: auto;
    width: 407px;
}
/*custom navbar links*/
nav a:link {
    color: #6BE7FF;
	padding: 10px;
    text-decoration: none;
}
nav a:visited {
    text-decoration: none;
    color: #5F2575;
}
nav a:hover {
    text-decoration: none;
    color: royalblue;
	font-family: Permanent Marker;
	background-color: aquamarine;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
    text-decoration: none;
    color: #A38702;
}
/*Float aside to the left*/
aside {
    width: 150px;
    float: left;
    background-color: #464646;
    height: 1050px;
}

aside h3 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Float main to the left*/
main {
    width: 598px;
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
img {
    padding: 5px;
    float: right;
}
#floatImageLeft {
    float: left;
}
.floatImageLeft {
    float: left;
}
article {
    margin-bottom: -20px;
}
article h1 {
	font-family: acuta,serif;
	font-weight: 700;
	font-style: normal;
	color: #6BE7FF;
    font-size: 32px;
}
article p {
    font-family: anonymous-pro,monospace;
	font-weight: 700;
	font-style: normal;
    font-size: 18px;
}

/*Clear both the floats*/
footer {
    width: 768px;
    height: 50px;
    clear: both;
    background-color: #FBB300;
}